.statistics {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  background: #e7ecf2;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: larger;
  margin: 0 36%;
  padding: 35px 30px;
  background-color: #ffffff;
}

.stat_list {
  display: inline-flex;
  margin: 0 50px 0 10px;
}

.item {
  list-style-type: none;
  padding: 10px 24px;
}

.label {
    font-size: 10px;
}

.percentage {
    font-size: 20px;
}

